.gif {
    float: left;
    margin: 10px;
}

.gif-btn {
    color: #fff;
    background-color: #64949a;
    margin: 10px 10px;
    font-weight: bold;
    border-radius: 5px;
}

body {
    background-color: #f2f2f2;
}

#add-gif {
    color: #fff;
    background-color: #64949a;
    margin: 10px 0px;
    font-weight: bold;
}